* {
  margin: 0px;
  padding: 0px;
}

body {
  /* background-color: #18315a; */
  /* background-color: #4a16b3; */
  /* background: url("wave-haikei.svg");*/
  background: url("gymbg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Baloo Bhai";
  font-size: 22px;
}

header {
  background-color: #80808021;
  /* background-color: #4a16b3; */
  height: 50px;
}

.right {
  display: inline-block;
  position: absolute;
  right: 125px;
  top: -2px;
  padding: 5px;
  /* border: 2px solid yellow; */
  margin: 3px;
}

.btn {
  display: inline-block;
  position: absolute;
  color: white;
  /* background-color: #f03a51; */
  background-color: #808080b3;
  /* background-color: #4a16b3; */
  border-radius: 4px;
  padding: 2px;
  top: 0px;
  right: -115px;
  cursor: pointer;
  font-family: "Baloo Bhai";
  font-size: 22px;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin-right: 78px;
}

.navbar li a {
  color: white;
  text-decoration: none;
}

.navbar li a:hover,
.navbar li a.active {
  /* color: #1d365e; */
  color: black;
  text-decoration: underline;
}

.left {
  display: inline-block;
  position: absolute;
  padding: 5px;
  left: 15px;
  top: 0px;
  /* border: 2px solid yellow; */
}

.left a {
  text-decoration: none;
  color: white;
  font-size: 35px;
}
/* The main part stat here  */
.container {
  padding: 70px;
  position: absolute;
  left: 55px;
  top: 180px;
  color: black;
  border: 2px;
  border-radius: 50px;
  height: 200px;
  /* width: 500px; */
  background-color: #808080b3;
  /* background-color: rgb(175, 130, 218); */
  line-height: 65px;
}
#p1 {
  font-size: 22px;
}
#p2 {
  font-size: 100px;
  color: red;
}
#p3 {
  font-size: 22px;
}
/* Form */
#form {
  background-color: #808080b3;
  position: absolute;
  top: 160px;
  right: 175px;
  border-radius: 50px;
  width: 575px;
}
input {
  width: 300px;
  padding: 18px;
  border-radius: 30px;
}

button {
  /* background-color: #a6a6a6; */
  /* color: white; */
  border-radius: 37px;
  padding: 15px;
  width: 176px;
  margin-left: 27px;
  margin-bottom: 22px;
  cursor: pointer;
}

.form-group {
  margin: 25px;
}

/* This part is for footer  */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
  /* background: #f03a51; */
  background: #4a16b3;
  text-align: center;
  font-size: large;
  padding: 10px;
  font-family: "Baloo Bhai";
  font-size: 22px;
}
